<!-- Footer -->
<footer id="footer">
        <!-- Icons -->
          <ul class="icons">
            <li><a target="_blank" href="https://facebook.com/digitalstudiocb" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a target="_blank" href="https://linkedin.com/in/digitalstudiocb" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
            <li><a target="_blank" href="https://instagram.com/digitalstudiocb" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a target="_blank" href="https://x.com/digitalstudiocb" class="icon brands fa-twitter"><span class="label">X.com</span></a></li>
            <li><a target="_blank" href="https://pinterest.ca/digitalstudiocb" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
          </ul>

        <!-- Menu -->
          <ul class="menu">
            <li>2024 &copy; Digital Studio Christian Bacon</li><li></li>
          </ul>

</footer>

