 <!-- Work -->
      <section id="work" class="main style3 primary">
        <div class="content">
          <header>
            <h2>Portfolio</h2>
            <p><!-- Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
            Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis
            arcu, id varius justo euismod in. Curabitur egestas consectetur magna vitae.--><br></p>
          </header>

          <!-- Gallery  -->
            <div class="gallery">
              <article class="from-left">
                <a href="{{ site.gallery.uri }}/fulls/1.png" class="image fit"><img src="{{ site.gallery.uri}}/thumbs/1.png" title="The Anonymous Red" alt="" /></a>
              </article>
              <article class="from-right">
                <a href="{{ site.gallery.uri }}/fulls/2.png" class="image fit"><img src="{{ site.gallery.uri }}/thumbs/2.png" title="Airchitecture II" alt="" /></a>
              </article>
              <article class="from-left">
                <a href="{{ site.gallery.uri }}/fulls/3.png" class="image fit"><img src="{{ site.gallery.uri }}/thumbs/3.png" title="Air Lounge" alt="" /></a>
              </article>
              <article class="from-right">
                <a href="{{ site.gallery.uri }}/fulls/4.png" class="image fit"><img src="{{ site.gallery.uri }}/thumbs/4.png" title="Carry on" alt="" /></a>
              </article>
              <article class="from-left">
                <a href="{{ site.gallery.uri }}/fulls/5.png" class="image fit"><img src="{{ site.gallery.uri }}/thumbs/5.png" title="The sparkling shell" alt="" /></a>
              </article>
              <article class="from-right">
                <a href="{{ site.gallery.uri }}/fulls/6.png" class="image fit"><img src="{{ site.gallery.uri }}/thumbs/6.png" title="Bent IX" alt="" /></a>
              </article>
            </div>

        </div>
      </section>
