<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ site.title | upcase }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
      {% include header.html %}

		<!-- Intro -->
      {% include header_intro.html %}

		<!-- One -->
      {% include whatido.html %}

		<!-- Two -->
      {% include whoami.html %}

		<!-- Work -->
      {% include work.html %}

		<!-- Contact -->
      {% include contact_home.html %}

		<!-- Footer -->
      {% include footer.html %}

		<!-- Scripts -->
      
      {% include scripts.html %}

	</body>
</html>
